/* ESTILOS GENERALES */

.button-icon {
  /* Display & Box-Model */
  padding: 10px;
  display: inline-block;
  
  /* VISUAL */
  background-color: var(--white);
  border-radius: 4px;
  border: 2px solid var(--purple);

  /* Typography */
  text-decoration: none;
}

.button-icon img{
  vertical-align: middle;
}

.button-hola{
  
}