@import "./wrapper.css";
@import "./header.css";
@import "./button.css";
@import "./button-icon.css";
@import "./hola.css";
@import "./hablemos.css";
@import "./footer.css";
@import "./project.css";


/* VARIABLES */

:root{
  --fontBase : 'Montserrat', sans-serif;
  --gradient : linear-gradient(to right bottom, #0466c8, #035eb9, #0257ab, #024f9d, #02488f, #034182, #023975, #023269, #022a5b, #01224d, #001a40, #001233);
}

/* ESTILOS GENERALES */

*{
  box-sizing: border-box;
}

body{
  /* Typography */
  font: var(--body1);
  color: white;

  /* VISUAL */
  background: var(--gradient);
  min-block-size: 100vh;
  font-family: var(--fontBase);

  margin: 0;

  font-size: 16px;
} 


