@import "./wrapper.css";
@import "./header.css";
@import "./button.css";
@import "./button-icon.css";
@import "./hola.css";
@import "./hablemos.css";
@import "./footer.css";
@import "./project.css";


/* VARIABLES */

:root{
  --fontBase : 'Montserrat', sans-serif;
  --gradient : linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  --white: white;
}

/* ESTILOS GENERALES */

*{
  box-sizing: border-box;
}

body{
  /* Typography */
  font: var(--body1);
  color: var(--purple);

  /* VISUAL */
  background: var(--gradient);
  min-block-size: 100vh;
  font-family: var(--fontBase);

  margin: 0;

  font-size: 16px;
} 


