.projects{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 20px 0;
}

.project{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;  

  width: 100%;
}

.project-description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.project-description h2{
  background-color: rgba(255, 255, 255, .3);
  border: 3px solid white;
  border-radius: 4px;
  padding: 5px 8px;
}

.project-description p{
  margin: 0;
  color: white;
  font-weight: bold;
}

.tecnologias{
  font-size: 50px;
  color: var(--white);
  margin-bottom: 20px;
}

.project-image img{

  height: 400px;
  padding-top: 19px;
}
